.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-H-MX7GGN1DWmP_);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nhvQ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__kpPxv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__p7F4A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__p7F4A > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__p7F4A > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__p7F4A > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__p7F4A {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__p7F4A > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ymta8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__uiFrr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__uiFrr > picture > img {
  object-fit: cover;
}
.img__uiFrr > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__xStbg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__xStbg > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xStbg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xStbg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__umIJk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__lvHq7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-cMBeaRzbgAS0EI);
  font-size: var(--token-IN8Vdzx6YxpPbO);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__fH441 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-b2Y7fhJ62QVWNr);
  font-size: var(--token-TkeHEr2KykZrY_);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__fH441 {
    font-size: 20px;
  }
}
.text__vLm2I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__gDgwt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sbwBs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cMshx {
  font-size: 13px;
}
.svg__hfZ71 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___2Ctye {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___0Oeuw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___0Oeuw > picture > img {
  object-fit: cover;
}
.img___0Oeuw > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__yzRFd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__yzRFd > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yzRFd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yzRFd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jecwi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__jecwi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__jecwi > :global(.__wab_flex-container) > *,
.column__jecwi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jecwi > :global(.__wab_flex-container) > picture > img,
.column__jecwi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__rJrZr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-cMBeaRzbgAS0EI);
  font-size: var(--token-IN8Vdzx6YxpPbO);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4___03Gg3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-b2Y7fhJ62QVWNr);
  font-size: var(--token-TkeHEr2KykZrY_);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___03Gg3 {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__hqmNr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button__ogLBw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yi47N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uRIn {
  font-size: 13px;
}
.svg___5ZWd6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__mXap0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__uyrWy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__uyrWy > picture > img {
  object-fit: cover;
}
.img__uyrWy > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___5V38K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns___5V38K > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5V38K {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5V38K > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dJmMh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__k85V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-cMBeaRzbgAS0EI);
  font-size: var(--token-IN8Vdzx6YxpPbO);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__zsLAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-b2Y7fhJ62QVWNr);
  font-size: var(--token-TkeHEr2KykZrY_);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__zsLAl {
    font-size: 20px;
  }
}
.text__tRKo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__mh3G6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__baygJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___30WYi {
  font-size: 13px;
}
.svg__gkZu9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
