.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__i1W78 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kEqhI {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-cMBeaRzbgAS0EI);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__kEqhI {
    width: 100%;
    min-width: 0;
  }
}
.header2:global(.__wab_instance) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.freeBox__x4Bz7 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 109px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__x4Bz7 {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__fvVos {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  min-width: 0;
}
.freeBox__fvVos > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__fvVos > :global(.__wab_flex-container) > *,
.freeBox__fvVos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvVos > :global(.__wab_flex-container) > picture > img,
.freeBox__fvVos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fvVos {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fvVos > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fvVos > :global(.__wab_flex-container) > *,
  .freeBox__fvVos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fvVos > :global(.__wab_flex-container) > picture > img,
  .freeBox__fvVos
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dlOhr {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__dlOhr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dlOhr > :global(.__wab_flex-container) > *,
.freeBox__dlOhr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dlOhr > :global(.__wab_flex-container) > picture > img,
.freeBox__dlOhr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mFm6Z {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mFm6Z > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mFm6Z > :global(.__wab_flex-container) > *,
.freeBox__mFm6Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mFm6Z > :global(.__wab_flex-container) > picture > img,
.freeBox__mFm6Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__cpr6N {
  margin-top: calc(0px + 20px) !important;
  margin-bottom: 0px;
  color: var(--token-H-MX7GGN1DWmP_);
  max-width: 534px;
  width: 100%;
  min-width: 0;
}
.button__cpFdF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___6EWnI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__e0Em3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nXbem {
  display: flex;
  position: relative;
  height: 400px;
}
.freeBox__fEqE {
  display: block;
  width: 600px;
  height: 600px;
  background: url("/plasmic/saa_s_website/images/fakurianDesignPPTwRTkvXqUnsplashjpg.jpeg") left 50% top 50% / cover;
  flex-shrink: 0;
  border-radius: 24%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fEqE {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-H-MX7GGN1DWmP_);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yt2OI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h2__aAD0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__aAD0 {
    font-size: 32px;
  }
}
.text__bxRya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 784px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 45px;
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___2Lbg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__baUOo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__baUOo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__baUOo > :global(.__wab_flex-container) > *,
.freeBox__baUOo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__baUOo > :global(.__wab_flex-container) > picture > img,
.freeBox__baUOo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__xObNf {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-cMBeaRzbgAS0EI);
  flex-shrink: 0;
}
.h3___4CnmZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___4CnmZ {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__aTcNv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__aTcNv {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__er42I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2Lfxd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sAmXh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__dQegM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__hH5A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__uEsWb {
  object-fit: cover;
  max-width: none;
  max-height: none;
  height: 400px;
  width: 400px;
  object-position: center center;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__uEsWb > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__uEsWb > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__uEsWb {
    margin-bottom: 24px;
  }
}
.container5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 43px 0px 61px;
  margin: 1.67em 0em;
}
.container5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tOrlX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__gxf8X {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__gxf8X > picture > img {
  object-fit: cover;
}
.img__gxf8X > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__gxf8X {
    margin-bottom: 26px;
  }
}
.column__hiQ0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__kfPpd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kfPpd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__kfPpd > :global(.__wab_flex-container) > *,
.freeBox__kfPpd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kfPpd > :global(.__wab_flex-container) > picture > img,
.freeBox__kfPpd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__o7Joh {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-cMBeaRzbgAS0EI);
  flex-shrink: 0;
}
.h3__vrlWm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__vrlWm {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__nFcas {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__nFcas {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__s41Hl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5E7Pn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ri9I2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.container6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .outerRow4 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sEtXu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__mdyvT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mdyvT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mdyvT > :global(.__wab_flex-container) > *,
.freeBox__mdyvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mdyvT > :global(.__wab_flex-container) > picture > img,
.freeBox__mdyvT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__kkLtk {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-cMBeaRzbgAS0EI);
  flex-shrink: 0;
}
.h3__nks63 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__nks63 {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text___5VLqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___5VLqt {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__m8Gjt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qI7So {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ce5Zb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__v2Erh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__xklg {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__xklg > picture > img {
  object-fit: cover;
}
.img__xklg > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__xklg {
    margin-bottom: 31px;
  }
}
.testimonials {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-bfKz2QuDiBorVN);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.testimonials > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__l52Oi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__nq8R5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__nq8R5 {
    font-size: 32px;
  }
}
.text___2AJ64 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__oZk2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__oZk2 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oZk2 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oZk2 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oZk2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oZk2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__im1Ax {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial:global(.__wab_instance) {
    margin: 0px 0px 15px;
  }
}
.column__sK7Xa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns__zzGcn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  border-radius: 0px;
  padding: 1.5em;
}
.columns__zzGcn > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zzGcn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zzGcn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__w7Env {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__upWbm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__upWbm > picture > img {
  object-fit: cover;
}
.img__upWbm > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__up7X9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-LX0bo-FIyHjr46);
  font-family: var(--token-ZGENSJe1TP5rbf);
  font-size: var(--token-IN8Vdzx6YxpPbO);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__up7X9 {
    text-align: center;
  }
}
.text__ujk8T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column__uYNnQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns__xGjQj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  padding: 1.5em;
}
.columns__xGjQj > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xGjQj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xGjQj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__y3GvC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__xkqqj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  line-height: 0.7em;
  letter-spacing: 0px;
  color: var(--token-cMBeaRzbgAS0EI);
  font-size: 60px;
  min-width: 0;
}
.text__b6Zpr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.columns__cPUwZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cPUwZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns__cPUwZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__cPUwZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__cPUwZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ifT0F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__eqA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100%;
}
.img__eqA > picture > img {
  object-fit: cover;
}
.img__eqA > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__xHz1O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h5__uoqT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: left;
  font-weight: 700;
  color: var(--token-LX0bo-FIyHjr46);
  font-family: var(--token-ZGENSJe1TP5rbf);
  font-size: var(--token-IN8Vdzx6YxpPbO);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__uoqT {
    text-align: center;
  }
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
  }
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
